---
import Base from '../layouts/Base.astro';
import fs from 'node:fs';
import path from 'node:path';

let topicMd = "_The framework will infer this site's working topic as more emails arrive._";
const topicPath = path.resolve('./topic.md');
if (fs.existsSync(topicPath)) {
  topicMd = fs.readFileSync(topicPath, 'utf8');
}
---
<Base title="Working topic">
  <h1>Working topic</h1>
  <article set:html={topicMd.replace(/\n/g, '<br>')} />
  <p class="meta">This page is rewritten as the model's understanding of the inbox sharpens.</p>
</Base>
